.box{
    width: 100px;
    height: 100px;
    background-color: rgb(100, 61, 3);
    color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideRight 5s ease-in-out infinite;
}
@keyframes slideRight{
    0% { transform: translateX(0%);}
    25 { transform: translateX(300%);}
    50% { transform: translateX(600%);}
    75% {{ transform: translateX(900%);}}
    100% { transform: translateX(1200%);}
    125%{ transform: translateX(1500%);}
    150%{ transform: translateX(1800%);}

    0% { background-color: red;}
    25% { background-color: rgb(0, 255, 47);}
    50% { background-color: rgb(255, 247, 0);}
    75% { background-color: rgb(0, 17, 255);}
    100% { background-color: red;}
    125% { background-color: purple;}
    150%{ background-color: rgb(255, 0, 212);}

}
@keyframes changebg{
    
}
