/* table{
    width: 100%;
    border-collapse: collapse;
    background: white;
}
th,td{
    border: 1px solid #666;
    padding: 20px;
    text-align: center;
}
th{
    background-color: green;
    color: aliceblue;
}
.break{
    background: yellow;
}
.brea{
    background-color: yellow;
}
h1{
    text-align: center; */
}