*{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    /* background-color: blue; */
    margin: 0 15px;
    padding: 10px;
    /* border: 2px double; */
    /* border-style: outset; */
    border-top: 1px solid purple;
    border-width: 20px;
    border-top-left-radius: 20px;
    font-family:;
    /* font-size: 2rem; */
    font-weight: 100;
    text-align: left;
    font-style: italic;
    text-decoration: initial;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.new{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* background-color: yellowgreen; */
}
.amen{
    width: 300px ;
    height: 300px;
    margin: 0 15px;
    background-color: yellowgreen;
}